body {
   font-family: "Roboto", sans-serif;
   font-size: 1rem;
   font-weight: 500;
   color: #2b283a;
   margin: 0;
}

header{
    background-color: #5f29a3;
    padding: 45px 0;
}

h1{
    margin: 0;
    color: whitesmoke;
    font-size: 2.25rem;
}

h3{
    margin: 6px 0;
    font-size: 1.25rem;
    color: #d0aaff;
}