body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1{
    color: whitesmoke;
    font-size: 36px;
    margin: 0;
}

h2{
    margin-top: 0;
}

h3{
    color: #d0aaff;
    font-size: 20px;
    margin:0;
}

/* links */

a{
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover{
    color: #d4b44c;
}

a:active{
    color: #d4b44c;
}

/* layout */

header{
    background-color: #5f29a3;
    padding: 45px 0;
}

section{
    padding: 45px 0;
}

.section-two{
    color: whitesmoke;
    background-color: #5f29a3;
}

.container{
    width: 620px;
    margin: 0 auto;
}
.img{
    width: 300px;
    border-radius: 6px;
}

.images{
    display: flex;
    justify-content: space-around;
}

.main-image{
    width:100%;
}
